<% if (typeof session !== 'undefined' && session.length > 0) {%>
  <% for (s of session) { %>
      <li><%= s.sessionName %></li>
  <% } %>
<% } %>


<% if (typeof session !== 'undefined' && session.length > 0) {%>
  <select class="form-control" id="sessionSelect">
      <% for (s of session) { %>
          <option value="<%= s._id %>"><%= s.sessionName</option>
      <% } %>
  </select>
  <% } else { %>
      Data not Found
  <% } %>